<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head(${sitetitle})}"></head>
<body class="container">
<header th:replace="~{fragments :: horizontal}"></header>
<table class="table table-stripped">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tr th:each="place : ${places}" th:object="${place}">
        <td>
            <a th:href="@{~/places/detail(placeID=${place.getID()})}" th:text="${place.title}"></a>
        </td>
    </tr>
</table>

</body>
</html>